.about-content{
    img{
        width: 500px;
        height: 250px;
        border-radius: 4px;
        margin-left: auto;
        margin-right: auto;
    }
}
.about-text{
    width: 75%;
    margin: 0 auto;
}

.contact{
    background-color: #9FB3AE;
    opacity: 0.8;
}
.contact-content{
    align-items: center;
    justify-content: center;
    @include pad{
       flex-direction: column-reverse;
    }
    img{
        width: 500px;
        height: 280px;
        border-radius: 4px;
        @include pad{
            width: 100%;
            height: 300px;
            margin-bottom: 20px;
        }
    }
}
.contact-list{
    width: 35%;
    @include pad{
        width: 100%;
        text-align: center;
    }
}
.icon{
    justify-content: end;
    @include pad{
        justify-content: center;
    }
    i{
        display: block;
        color: $color-darkGray;
    }
}