.productSelect{
    font-size: 18px;
    li{
        border-right: 1px solid $color-gray;
        &:nth-child(3){
            border-right: none;
        }
    }
    a{
        color: $color-gray;
        padding: 0 20px;
    }
    // 加 active 切換效果
    .select-all.active,.select-plants.active,.select-space.active{
        a{
            color: red;
        }
    }
    @include mobile{
        font-size: 16px;
        justify-content: center;
    }
}

.productsList-all, .productsList-plants, .productsList-space{
    flex-wrap: wrap;
    li{
        width: 31.33%;
        margin: 0 1%;
        border: 1px solid $color-gray;
        border-radius: 4px;
        margin-bottom: 28px;

        @include pad{
            width: 48%;
            margin-bottom: 24px;
        }
        @include mobile{
            width: 100%;
        }
    }
    img{
        width: 100%;
        height: 330px;
        padding: 16px;
        border-radius: 4px;
        margin: 0 auto;
    }
}
.products-title{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: $color-darkGray;
}
.price{
    display: block;
    font-size: 18px;
    text-align: center;
    color: $color-gray;
}
.cartBtn{
    font-size: 18px;
    text-align: center;
    color: $color-gray;
    padding: 18px 0;
    border-top: 1px solid $color-gray;
}

// 產品全部 none
.productsList-all, .productsList-plants, .productsList-space{
    display: none;
}
// 同時有 .active 就會打開
.productsList-all.active, .productsList-plants.active, .productsList-space.active{
    display: flex;
}

.pagination{
    li{
        border: 1px solid $color-gray;
        border-right: none;
        &:nth-child(7){
            border-right: 1px solid $color-gray;
        }
    }
    a{
        font-size: 18px;
        color: $color-gray;
        padding: 10px 14px;
        &:hover{
            color: white;
            background-color: $color-gray;
        }
    }
}