.container{
    max-width: 1320px;
    margin: 0 auto;

    @include pad {
    padding-right: 36px;
    padding-left: 36px;
    }

    @include mobile {
    padding-right: 16px;
    padding-left: 16px;
    }
}

.d-flex{
    display: flex;
}
.d-f-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

// 右推
.mr-8{
    margin-right: 8px;
}
.mr-20{
    margin-right: 20px;
}

// 下推
.mb-8{
    margin-bottom: 8px;
}
.mb-16{
    margin-bottom: 16px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-40{
    margin-bottom: 40px;
}


.title{
    font-size: 28px;
    font-weight: bold;
    color: $color-secondary;
    @include pad{
        font-size: 26px;
    }
    @include mobile{
        font-size: 22px;
    }
}
.subTitle{
    font-size: 20px;
    color: $color-secondary;
    @include mobile{
        font-size: 18px;
    }
}
.text{
    font-size: 18px;
    color: $color-darkGray;
    @include pad{
        font-size: 16px;
    }
}
.title-bg{
    background-image: url(https://images.unsplash.com/photo-1517174637803-6929e01b6e63?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=688&q=80);
    height: 200px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    h2{
        text-align: center;
        color: $color-yellow;
    }
}

.pd-10{
    padding-top: 10px;
    padding-bottom: 10px;
}
.pd-20{
    padding-top: 20px;
    padding-bottom: 20px;
}

.sectionArea{
    padding-top: 80px;
    padding-bottom: 80px;
    @include pad{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    @include mobile{
        padding-top: 30px;
        padding-bottom: 30px;
    }
}



.btn{
    width: 100px;
    color: $color-primary;
    text-align: center;
    border: 2px solid $color-primary;
    padding: 8px 0;
    border-radius: 4px;
    margin-left: auto;
    &:hover{
        color: white;
        background-color: $color-primary;

    }
    @include mobile{
        width: 100%;
    }
}